<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Justin Woodbridge</title>
  <link rel="stylesheet" href="/css/application.css">	
</head>
<body>
  <div id="container">
    <div id="head">
      <h1>Siberian Faucet</h1>     
      <p>a weblog about design, simplicity, and programming.</p>
      
      <ul>
        <li><a href="/about.html">about</a></li>
        <li><a href="/archive.html">archives</a></li>
      </ul>
    </div>
      {{ content }}
    </div> 
</body>
</html>

