<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" /> 
  <meta content="en-us" http-equiv="Content-Language" /> 
  <meta content="The Writing of Justin Woodbridge" name="description" />
  <link href="css/v1.css" type="text/css" rel="stylesheet" />
  <title>{{ title }}</title>

<body>
<div id="container">
  <div id="head">
    <a href="/" id="bigman" class="button">Justin Woodbridge</a>
  
    <ul id="links">
    <li><a href="/about.html">about</a>  
    <li><a href="http://github.com/glitterfang">github</a>  
    <li><a href="/contact.htm">contact</a>
  </ul>
</div>

  {{ content }}

</div>
</body>
</html>